<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1; url=/atm.html">
    <script type="text/javascript">
        window.location.href = "/atm.html"
    </script>
    <title>ATM + Redirecionamento</title>
</head>
<body>
Se não for redirecionado automaticamente, siga <a href='/atm.html'>este link</a>.
</body>
</html>
