<!DOCTYPE html>
<html>
<head>
    <base href="http://127.0.0.1:8080">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;

            font-family: 'Russo One', sans-serif;
            /*font-family: 'Days One', sans-serif;*/
            /*font-family: 'Baloo', cursive;*/
        }

        #banco-logo {
            position: absolute;
            top: 8%;
            left: 39%;
            opacity: 0.5;
        }

        #tela {
            position: absolute;
            top: 93px;
            left: 100px;
            height: 322px;
            width: 356px;
            /*border: 1px solid;*/
        }

        .rodape {
            width: 100%;
            text-align: center;
            /*border: 1px solid;*/
            margin-top: -10px;
        }

        .centro-tela {
            height: 320px;
            line-height: 320px;
            text-align: center;
            overflow: hidden;
            position: relative;
        }
        .centro-tela > span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }

        .logo {
            height: 295px;
            line-height: 295px;
            text-align: center;
            overflow: hidden;
            position: relative;
        }
        .logo span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
        .logo h2 {
            font-weight: normal;
            position: absolute;
            width: 75%;
            height: 100%;
            margin: 0;
            /* Apply animation to this element */
            -moz-animation: logo 5s linear infinite alternate;
            -webkit-animation: logo 5s linear infinite alternate;
            animation: logo 5s linear infinite alternate;
        }
        /* Move it (define the animation) */
        @-moz-keyframes logo {
            0%   { -moz-transform: translateX(32%); }
            100% { -moz-transform: translateX(0%); }
        }
        @-webkit-keyframes logo {
            0%   { -webkit-transform: translateX(32%); }
            100% { -webkit-transform: translateX(0%); }
        }
        @keyframes logo {
            0%   {
                -moz-transform: translateX(32%); /* Firefox bug fix */
                -webkit-transform: translateX(32%); /* Firefox bug fix */
                transform: translateX(32%);
            }
            100% {
                -moz-transform: translateX(0%); /* Firefox bug fix */
                -webkit-transform: translateX(0%); /* Firefox bug fix */
                transform: translateX(0%);
            }
        }


        .blinker {
            animation: blinker 1s linear infinite;
        }
        @keyframes blinker {
            50% { opacity: 0; }
        }
        .blinker2 {
            animation: blinker2 2s linear infinite;
        }
        @keyframes blinker2 {
            50% { opacity: 0; }
        }
    </style>
</head>
<body>

<img src="atm796x597.png" alt="ATM" usemap="#atm-map" />
<map name="atm-map" id="atm-map">
    <area id="tNE"     href="#tNE"     shape="rect" coords="478,164,532,217" />
    <area id="tSE"     href="#tSE"     shape="rect" coords="480,367,531,418" />
    <area id="tSO"     href="#tSO"     shape="rect" coords="28,368,80,421" />

    <area id="cartao"  href="#cartao"  shape="rect" coords="574,173,757,238" />

    <area id="b1"      href="#b1"      shape="rect" coords="567,278,607,307" />
    <area id="b2"      href="#b2"      shape="rect" coords="617,278,655,307" />
    <area id="b3"      href="#b3"      shape="rect" coords="666,278,705,307" />
    <area id="bCancel" href="#bCancel" shape="rect" coords="715,278,761,307" />

    <area id="b4"      href="#b4"      shape="rect" coords="567,316,607,345" />
    <area id="b5"      href="#b5"      shape="rect" coords="617,316,655,345" />
    <area id="b6"      href="#b6"      shape="rect" coords="666,316,705,345" />
    <area id="bClear"  href="#bClear"  shape="rect" coords="715,316,761,345" />

    <area id="b7"      href="#b7"      shape="rect" coords="567,356,607,385" />
    <area id="b8"      href="#b8"      shape="rect" coords="617,356,655,385" />
    <area id="b9"      href="#b9"      shape="rect" coords="666,356,705,385" />
    <area id="bEnter"  href="#bEnter"  shape="rect" coords="715,356,761,385" />

    <area id="bBlank1" href="#bBlank1" shape="rect" coords="567,394,607,423" />
    <area id="b0"      href="#b0"      shape="rect" coords="617,394,655,423" />
    <area id="bBlank2" href="#bBlank2" shape="rect" coords="666,394,705,423" />
    <area id="bBlank3" href="#bBlank3" shape="rect" coords="715,394,761,423" />

    <img id="banco-logo" src="banco-logo.png" style="height: 80px;"><br>
    <div id="tela"></div>
</map>

<template id="splash">
    <div class="logo">
        <h2>
                <span>
                    <img src="banco-logo.png" style="height: 80px;"><br>
                    Banco TDD<br>
                    <em>Nunca Falha!</em>
                </span>
        </h2>
    </div>
    <div class="rodape blinker">Para começar, insira o cartão<br>no local indicado.</div>
</template>

<template id="carregando">
    <div class="centro-tela">
            <span>
                Recebendo informações da central.
                <br>
                <span class="blinker2">Aguarde...</span>
            </span>
    </div>
</template>

<script src="js/jquery-3.2.1.min.js"></script>
<script>
    function atualizarTela(idTemplate) {
        $("#tela").html($("#" + idTemplate).html());
    }
    function carregando() {
        atualizarTela("carregando");
    }
    $(function () {
        atualizarTela("splash");

        $("#cartao").click(function () {
            carregando();
        });
    });

    $(document).on('click', 'area', function () {
        // evitar que os cliques nas <area> recarreguem a pagina
        return false;
    });
</script>

</body>
</html>
